.l-footer{
    padding-top:48px;
    padding-bottom:37px;
    background-color:map-get($baseColor, footer);

    &__logo{
        margin-bottom:23px;
    }

    &__link:not(:last-child){
        margin-bottom:11px;
    }
}