.l-intro{
    flex-direction:column; 
    
    &__left, &__right{
        width:100%;
        padding-bottom: 60px 0;
    }

    &__right{
        padding:60px 0;
    }

    &__left{
        padding:60px 0;
        background-color:map-get($baseColor, introLeft);
    }

    &__wrapper--left{
        flex-direction:column;
        align-items:center;
        width:percentage(350/375);
    }

    &__wrapper--right{
        display:flex;
        flex-direction:column;
        align-items:center;

        .wrap{
            display:flex;
            flex-direction:column;
            
            *{
                flex-shrink:0;
            }
        }
    }

    &__hook{
        margin-bottom:30px;
    }

    &__howto{
        margin-bottom:34px;
    }

    &__step{
        margin-bottom:25px;
    }
}

@mixin l-intro--tablet{
    .l-intro{
        &__wrapper--right{
            .wrap{
                width:60%;
                max-width:420px;
            }
        }
    }
}

@mixin l-intro--laptop{
    .l-intro{
        &__wrapper--right{
            .wrap{
                width:100%;
                max-width:none;
                flex-direction:row;
                justify-content:space-evenly;

                &__element{
                    width:280px;
                }
            }
        }
    }
}



