*, *::before, *::after{
	margin: 0;
	padding: 0;
	border:none;
	font-size: 100%;
    box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
}

html{
	scroll-behavior: smooth;
	height:100%;
}

body{
	min-height:100%;
	position:relative;
	counter-reset:badgeCounter;
}

a{
    color:inherit;
    text-decoration: none;
}

input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}


