.hook--intro{
    .hook__title{
        margin:0 auto;
        width:86%;
        font-size:24px;
        text-align:center;
        margin-bottom:24px;
    }

    .hook__description{
        text-align:center;
        font-size:18px;
        font-weight:400;
    }
}

.hook--restaurant{
    .hook__title{
        font-size:18px;
        line-height:1.4;
    }

    .hook__description{
        font-size:17px;
    }
}

.hook--item{
    &, .hook__title, .hook__description{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
    }

    .hook__title{
        font-size: 18px;
        margin-bottom:6px;
    }
}