.icon--check{
    background-color:white;
    color:map-get($baseColor, tertiary);
    @include box(25px);
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
}

.icon--heart{
    font-size:30px;
}

.icon--heart-fill{
    opacity:0;
    color:map-get($baseColor, secondary);

    &:hover{
        animation: pulse-animation 0.3s ease-in-out forwards;
    }
}

