/* 
    Cette transition permet de faire 
    un effet d'éclairage naturel avec l'ombre porté qui s'intensifie de façon réaliste 
*/ 
.transition--flashlight{
    &::after{
        opacity:0;
        content:'';
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        border-radius:inherit;
        z-index:0;
        transition: opacity ease-out 0.2s, box-shadow ease-out 0.2s;
        background:rgba(255, 255, 255, 0.3);
    }

    &:hover::after{
        opacity:1;
    }

    &:hover{
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }
}

