/* BASES */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea, select, button {
  border: none;
  margin: 0;
  padding: 0;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

.text--regular {
  font-weight: 400;
}

.text--bold {
  font-weight: 700;
}

.text--14pt {
  font-size: 14px;
}

.text--16pt {
  font-size: 16px;
}

.text--18pt {
  font-size: 18px;
}

.text--22pt {
  font-size: 22px;
}

/* GENERIC */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.bar--footer{
  position: absolute;
  width: 100%;
  background-color: #F2F2F2;
  z-index: -1000;
  left: 0;
  bottom: 0;
  height: 227px;
}

/* MAIN */
.l-app {
  width: 1343px;
  margin: 0 auto;
}

.l-header {
  grid-template-columns: 106px auto 314px 118px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo . nav register";
  height: 130px;
}

.l-header__nav {
  grid-area: nav;
  display: flex;
  text-align: center;
}

.l-footer {
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: #F2F2F2;
  z-index: 10;
}

.l-search {
  width: 100%;
}

.l-booking {
  grid-template-columns: 882px 423px;
  grid-template-rows: 628px;
  grid-column-gap: 40px;
  grid-template-areas: "city popularity";
}

.l-booking__city, .l-booking__popularity {
  border-radius: 20px;
  background-color: #F2F2F2;
}

.l-booking__city {
  grid-area: city;
}

.l-booking__popularity {
  grid-area: popularity;
}

.l-activity {
  margin-top: 60px;
}

/* WRAPPER */
.w-filter {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.w-filter__flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.w-footer {
  display: flex;
  justify-content: space-between;
  width: 1025px;
}

.w-booking--city {
  width: 90.93%;
}

.w-booking--popularity {
  width: 81.79%;
}

/* GRID */
.g-booking--city {
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(3, 248px);
  grid-gap: 33px;
  padding-bottom: 40px;
}

.g-booking--popularity {
  grid-template-rows: repeat(3, 147px);
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

.g-activity {
  grid-template-columns: repeat(2, 650px);
  grid-template-rows: 446px;
  grid-column-gap: 40px;
}

.g-activity--even, .g-activity--uneven{
  grid-template-columns: repeat(2, 300px);
  grid-gap: 43px;
}

.g-activity--even {
  grid-template-rows: 236px 164px;
  grid-template-areas: "one two" "one three";
}

.g-activity--uneven {
  grid-template-rows: 196px 209px;
  grid-template-areas: "one two" "one three";
}

/* COMPONENTS */
.pill {
  display: flex;
  position: relative;
  align-items: center;
  height: 52px;
  margin-right: 25px;
  border: 2px solid #D9D9D9;
  border-radius: 26px;
  background-color: white;
  box-shadow: 2px 2px 10px #F5F5F5;
  transition: all 0.2s;
}



.pill:last-child {
  margin-right: 0px;
}

.pill:hover {
  box-shadow: 2px 2px 10px #0065FC;
}

.pill__pre {
  width: 52px;
  height: 52px;
  margin-left: -2px;
  border-radius: 26px;
  background-color: #DEEBFF;
  color: #0065FC;
}

.pill__text {
  font-weight: 700;
  font-size: 18px;
  margin-left: 14px;
  margin-right: 16px;
}

.searchbar {
  display: flex;
  align-items: center;
  position: relative;
  width: 420px;
  height: 52px;
  border: 2px solid #F2F2F2;
  border-radius: 16px;
  margin-left: 10px;
  background-color: white;
}

.searchbar__pre {
  width: 52px;
  height: 52px;
  border-radius: 16px 0 0 16px;
  background-color: #F2F2F2;
}

.searchbar__input {
  padding-left: 16px;
  width: 88%;
  height: 50px;
  background-color: transparent;
}

.searchbar__button {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 135px;
  height: 53px;
  border-radius: 0 16px 16px 0;
  background-color: #0065FC;
  color: white;
  z-index: 1000;
  transition: all 0.2s;
}

.searchbar__button:hover {
  background-color: #003c96;
}

.searchbar__button > .fa-search {
  display: none;
}

.activity-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 15px #F5F5F5;
  transition: all 0.2s;
}

.activity-card:hover {
  box-shadow: 2px 2px 15px #0065FC;
}

.activity-card__img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  object-fit: cover;
}

.activity-card__header {
  margin: auto 0;
  margin-left: 20px;
}

.g-activity--even > *:first-child, 
.g-activity--uneven > *:first-child{
  grid-area:one;
}

.g-activity--even > *:nth-child(2), 
.g-activity--uneven > *:nth-child(2){
    grid-area:two;
}

.g-activity--even > *:nth-child(3), 
.g-activity--uneven > *:nth-child(3){
    grid-area:three;
}

.g-activity--even > *:first-child img {
  height: 391px;
}

.g-activity--even > *:nth-child(2) img {
  height: 183px;
}

.g-activity--even > *:nth-child(3) img{
  height: 111px;
}

.g-activity--uneven > *:first-child img{
  height: 391px;
}

.g-activity--uneven > *:nth-child(2) img {
  height: 141px;
}

.g-activity--uneven > *:nth-child(3) img {
  height: 155px;
}

.booking-card {
  display: flex;
  border-radius: 20px;
  background-color: white;
  padding: 6px;
  box-shadow: 2px 2px 15px #F5F5F5;
  transition: all 0.2s;
}

.booking-card:hover {
  box-shadow: 2px 2px 15px #0065FC;
}

.booking-card__stars {
  display: flex;
}

.booking-card__price--low::after, .booking-card__price::after {
  font-weight: bold;
}

.booking-card__price::after {
  content: "€";
}

.booking-card[data-css-booking="5"] .booking-card__price--low::after {
  content: "25€";
}

.booking-card--vertical {
  flex-direction: column;
}

.booking-card--vertical img {
  object-fit: cover;
  width: 100%;
  height: 115px;
  border-radius: 20px 20px 0 0;
}

.booking-card--vertical .booking-card__header {
  margin-top: 10px;
  margin-left: 17px;
}

.booking-card--vertical .booking-card__title {
  line-height: 1.4;
}

.booking-card--vertical .booking-card__price {
  margin-bottom: 8px;
}

.booking-card--vertical .booking-card__stars > .fa-star {
  font-size: 12px;
}


.booking-card--horizontal img {
  object-fit: cover;
  width: 127px;
  height: 100%;
  border-radius: 20px 0 0 20px;
}
.booking-card--horizontal .booking-card__header {
  width: 140px;
  margin-top: 19px;
  margin-left: 19px;
}
.booking-card--horizontal .booking-card__title {
  line-height: 1.2;
  margin-bottom: 9px;
}
.booking-card--horizontal .booking-card__price {
  margin-bottom: 35px;
}
.booking-card--horizontal .booking-card__stars > .fa-star {
  font-size: 11px;
}

.star--checked {
  color: #0065FC;
}

.star--unchecked {
  color: #D9D9D9;
}

.hook {
  margin-left: 6px;
  margin-bottom: 22px;
}

.hook__title {
  line-height: 1.9;
}

.title--filter {
  margin-right: 31px;
  font-weight: 700;
  font-size: 18px;
}

.title--activity {
  margin-bottom: 25px;
}

.heading--booking {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.nav-section {
  display: flex;
  flex-direction: column;
}

.nav-section__title {
  margin-bottom: 30px;
}

.nav-section__link {
  display: block;
  transition: all 0.2s;
}

.nav-section__link:not(:last-child) {
  margin-bottom: 17px;
}

.nav-section__link:hover {
  color: #0065FC;
}

.logo {
  grid-area: logo;
  margin: auto 0;
}

.register {
  grid-area: register;
  text-align: right;
  margin: 50px;
  margin-right: 30px;
  color: #0065FC;
  transition: color 0.2s;
}

.register:hover {
  color: #7db1ff;
}

.link {
  grid-area: link;
  width: 50%;
}

.link--active, .link:hover {
  color: #0065FC;
}

.link::before {
  display: block;
  width: 100%;
  height: 2px;
  color: transparent;
  content: "";
  margin-bottom: 50px;
}

.link:hover::before, .link--active::before {
  background-color: #0065FC;
}

.result {
  display: flex;
  margin-top: 34px;
  margin-bottom: 36px;
}

.result__icon {
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  margin-right: 11px;
  border-radius: 50%;
  border: 1px solid #D9D9D9;
  background-color: WHITE;
  color: #0065FC;
  font-size: 12px;
}

.result__text {
  line-height: 1.5;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1439px) {
  .l-app {
    width: 93%;
  }

  .pill {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .pill__text {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  /* MAIN */
  .l-booking {
    grid-template-columns: 600px 1fr;
    grid-template-rows: 628px 628px;
    grid-row-gap: 40px;
    grid-template-areas: "popularity ." "city city";
  }

  .l-booking__city, .l-booking__popularity {
    align-items: flex-start;
  }

  /* WRAPPER */
  .w-booking--city, .w-booking--popularity {
    padding-top: 33px;
  }

  .w-footer {
    width: 100%;
  }

  /* GRID */
  .g-booking--popularity {
    grid-template-rows: repeat(3, 147px);
    grid-template-columns: 1fr;
    grid-column-gap: 30px;
  }

  .g-booking--city {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    padding-bottom: 20px;
  }

  .g-activity {
    grid-template-columns: 1fr;
    grid-template-rows: 446px 446px;
    grid-row-gap: 40px;
    grid-template-areas: "left" "right";
  }

  .g-activity--even, .g-activity--uneven {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  /* GENERIC */
  .bar--footer {
    height: 580px;
  }

  /* MAIN */
  .l-header {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo register" "nav nav";
    height: 133px;
  }

  .l-header__nav {
    align-items: center;
  }

  .l-booking {
    grid-template-columns: 1fr;
    grid-template-rows: 580px 1355px;
    grid-row-gap: 40px;
    grid-template-areas: "popularity" "city";
  }

  .l-booking__city, .l-booking__popularity {
    align-items: flex-start;
    border-radius: 0px;
  }

  .l-booking__city {
    background-color: white;
  }

  .l-booking__popularity::before {
    position: absolute;
    width: 100%;
    height: 580px;
    background-color: #F2F2F2;
    content: "";
    z-index: -1000;
  }

  .l-footer {
    margin-top: 50px;
  }

  /* WRAPPER */
  .w-filter {
    margin-top: 39px;
    align-items: flex-start;
    flex-direction: column;
  }

  .w-booking--city, .w-booking--popularity {
    width: 100%;
    padding-top: 33px;
  }

  .w-booking--popularity {
    height: 506px;
  }

  .w-booking--city {
    height: 1351px;
  }

  .w-footer {
    width: 100%;
    flex-direction: column;
  }

  .g-booking--city {
    grid-template-rows: repeat(6, 200px);
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    padding-bottom: 20px;
  }

  .g-booking--popularity {
    grid-row-gap: 10px;
  }

  .g-activity {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 24px;
    grid-template-areas: "left" "right";
  }

  .g-activity--even, .g-activity--uneven {
    grid-template-columns: 1fr;
    grid-template-rows: 191px 191px 191px;
    grid-row-gap: 24px;
  }

  .g-activity--even , .g-activity--uneven{
    grid-template-areas: "one" "two" "three";
  }

  /* GENERIC */
  .hook {
    padding-top: 36px;
  }

  .hook__title {
    line-height: 1.2;
    padding-bottom: 20px;
  }

  .register {
    margin: auto 0;
    padding: 20px 0 20px 0;
  }

  .link {
    padding-bottom: 22px;
  }

  .link::before {
    margin-bottom: 0px;
    margin-top: 0px;
    height: 0px;
    width: 0px;
  }

  .link::after {
    position: absolute;
    display: block;
    width: 50%;
    height: 4px;
    color: #F2F2F2;
    content: "";
    margin-top: 32px;
  }

  .link:first-child::after {
    left: 0;
  }

  .link:last-child::after {
    right: 0;
  }

  .link:hover::after, .link--active::after {
    background-color: #0065FC;
  }

  .title--filter {
    margin: 0;
    margin-bottom: 18px;
    font-size: 16px;
  }

  .title--activity {
    margin-top: 60px;
    margin-bottom: 32px;
  }

  .activity-card img {
    height: 135px !important;
  }

  .nav-section__title {
    margin-bottom: 25px;
  }
  .nav-section__link:last-child {
    margin-bottom: 52px;
  }
}

@media screen and (max-width: 455px) {
  .searchbar {
    width: 95.4%;
    min-width: 220px;
    margin-top: 38px;
  }

  .searchbar__button {
    width: 52px;
    height: 52px;
    border-radius: 16px;
  }

  .searchbar__button > .fa-search {
    display: inline-block;
  }

  .searchbar__button > span {
    font-size: 0;
  }
}